# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Distribution
build/
dist/

# Virtual environments
.venv/
venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
